.formContainer {
  display: flex;
  justify-content: center;
  height: 51vh;
  align-items: center;
}

.aboutForm {
  width: 40%;
  min-width: 210px;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
}

.aboutForm input,
.aboutForm textarea,
.aboutForm button {
  font-size: 18px;
}

.aboutForm textarea {
  width: 100%;
}

.aboutForm button {
  padding: 5px 10px;
  align-self: center;
  color: white;
  background-color: rgb(33, 150, 243);
  border-radius: 5px;
  border: 1px solid rgb(33, 150, 243);
}

.aboutForm button:hover {
  background-color: #008bff;
}
