.formContainer {
  display: flex;
  justify-content: center;
}

.aboutForm {
  width: 40%;
  min-width: 210px;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border: 1px solid black;
}

.aboutForm textarea {
  width: 100%;
}
